.amplification-graph {
  position: relative;
  margin-bottom: 1em;
  .overlay {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    .ct {      
      position: absolute;
      color: #202020;
      width: 42px;
      height: 19px;
      border: 1px #202020 solid;
      cursor: pointer;
      background: white;
      .caption {
        position: absolute;        
        top: 0px;
        left: 5px;
        color: #202020;
        font-weight: bold;
      }
      &.positive {
        background: green;
        .caption { color: white; }
      }
      &.negative {
        background: red;
        .caption { color: white; }
      }
      &.indeterminate {
        background: orange;
        .caption { color: white; }
      }
    }
  }
}

table.amplifications {
  width: 30%;
  float: left;
  margin-right: 1em;
  td, th {
    &.cycle { width: 30%; }
    &.rn { width: 35%; }
    &.delta-rn { width: 35%; }
  }
}
