body.analyses {
  &.index {
    table {
      td, th {
        &.target { width: 25%; }
        &.request { width: 25%; }
        &.assay { width: 25%; }
        &.treshold { width: 10%; }
        &.ct { width: 10%; }
      }
    }
  }
}

table.analyses.results {
  tr.primary {
    font-weight: bold;
  }
  td, th {
    &.target { width: 25%; }
    &.assay { width: 30%; }
    &.treshold { width: 10%; }
    &.ct { width: 10%; }
    &.status {
      width: 25%;
      .radio {
        display: inline-block;
        margin-right: 0.5em;
        label {
          display: inline-block;
        }
      }
    }
  }
  input.treshold {
    width: 4em;
    margin: 0;
  }
}

table.amplifications {
  width: 30%;
  float: left;
  margin-right: 1em;
  td, th {
    &.cycle { width: 30%; }
    &.rn { width: 35%; }
    &.delta-rn { width: 35%; }
  }
}
