body.analyses {
  &.index {
    table {
      td, th {
        &.target { width: 20%; }
        &.assay { width: 30%; }
        &.request { width: 30%; }
        &.treshold { width: 8%; }
        &.ct { width: 7%; }
      }
    }
  }
}

table.analyses.results {
  .primary {
    font-weight: bold;
  }
  td, th {
    &.target { width: 25%; }
    &.assay { width: 30%; }
    &.treshold { width: 10%; }
    &.ct { 
      width: 10%;
    }
    &.status {
      width: 25%;
      .radio {
        display: inline-block;
        margin-right: 0.5em;
        label {
          display: inline-block;
        }
      }
    }
  }
  input.treshold, input.ct {
    width: 4em;
    margin: 0;
  }
}
