.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ :data => {:target => '.nav-collapse', :toggle => 'collapse'} }
        %span.icon-bar
        %span.icon-bar
      = link_to t('application.name'), root_path, :class => :brand
      .container-fluid.nav-collapse
        - if user_signed_in?
          = render_navigation :level => 1
          = render 'layouts/user_menu'
