!!!
%html
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %base{ :href => root_path }
    %title= page_title
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag "application"